@import "../../../assets/styles/styles.scss";

.login-form .login-btn {
  background-color: $primary-color;
  color: #ffffff;
  transition: border-color 0.5s, color 0.5s;

  &:hover {
    border-color: $primary-color;
    color: $primary-color;
    background-color: #ffffff;
  }
}

.login-text {
  color: $primary-color;
}
