@import "../../../assets/styles/styles.scss";

.reset-btn {
  background-color: $primary-color;
  color: #ffffff;
}
.reset-text {
  color: $primary-color;
}

.reset-password-form {
  width: 90%;
}

@media (min-width: 768px) {
  .reset-password-form {
    width: 50%;
  }
}
