@import "../../../assets/styles/styles.scss";

.btn-create {
  background-color: $primary-color;
  color: $secondary-color;
  width: 100%;

  @media (min-width: 768px) {
    width: 30%;
  }
}

/* TimeTracker.styles.scss */
.card {
  border: 1px solid #eaeaea;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card-totalTime {
  font-weight: bold;
}
.card-date {
  color: gray;
}
.card-head {
  background-color: #f8f9fa;
  border-bottom: 1px solid #eaeaea;
}

.card-mid,
.card-foot {
  padding: 10px;
}

.time-label {
  font-weight: bold;
  color: #333;
}
